In [1]:
# import pp_multi_model
from pp_multi_model import multi_mod
from base_code.describe_df import data_description

# Modeling
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

# Data Management
import numpy as np

In [2]:
#df = data_description("data/marketing_campaign.csv","\t")
df = data_description("data/marketing_campaign_test.csv",",")

****** Rename Columns: ******

Original column names:
 Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

Renamed column names:
 Index(['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome',
       'teenhome', 'dt_customer', 'recency', 'mnt_wines', 'mnt_fruits',
       'mnt_meat_products', 'mnt_fish_products', 'mnt_sweet_products',
       'mnt_gold_prods', 'num_deals_purchases', 'num_web_purchases',
       'num_catalog_purchases', 'num_store_purchases', 'num_web_visits_month',
       'accepted_cmp3', 'accepted_cmp4', 'accepted_cmp5', 'accepted_cmp1',
       'accepted_cmp2', 'complain', 'z_costcontact', 'z_revenue', 'response'],
      dtype='object')

****** Data Frame Shape: ******

(499, 29)

****** Head and Tail: ******

****** Describe: ******

****** Nulls by column: ******

id                        0
year_birth                0
education                 0
marital_status            0
income                   13
kidhome                   0
teenhome                  0
dt_customer               0
recency                   0
mnt_wines                 0
mnt_fruits                0
mnt_meat_products         0
mnt_fish_products         0
mnt_sweet_products        0
mnt_gold_prods            0
num_deals_purchases       0
num_web_purchases         0
num_catalog_purchases     0
num_store_purchases       0
num_web_visits_month      0
accepted_cmp3             0
accepted_cmp4             0
accepted_cmp5             0
accepted_cmp1             0
accepted_cmp2             0
complain                  0
z_costcontact             0
z_revenue                 0
response                  0
dtype: int64

****** Info: ******

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     499 non-null    int64
 1   year_birth             499 non-null    int64
 2   education              499 non-null    object
 3   marital_status         499 non-null    object
 4   income                 486 non-null    float64
 5   kidhome                499 non-null    int64
 6   teenhome               499 non-null    int64
 7   dt_customer            499 non-null    object
 8   recency                499 non-null    int64
 9   mnt_wines              499 non-null    int64
 10  mnt_fruits             499 non-null    int64
 11  mnt_meat_products      499 non-null    int64
 12  mnt_fish_products      499 non-null    int64
 13  mnt_sweet_products     499 non-null    int64
 14  mnt_gold_prods         499 non-null    int64
 15  num_deals_purchases    499 non-null    int64
 16  num_web_purchases      499 non-null    int64
 17  num_catalog_purchases  499 non-null    int64
 18  num_store_purchases    499 non-null    int64
 19  num_web_visits_month   499 non-null    int64
 20  accepted_cmp3          499 non-null    int64
 21  accepted_cmp4          499 non-null    int64
 22  accepted_cmp5          499 non-null    int64
 23  accepted_cmp1          499 non-null    int64
 24  accepted_cmp2          499 non-null    int64
 25  complain               499 non-null    int64
 26  z_costcontact          499 non-null    int64
 27  z_revenue              499 non-null    int64
 28  response               499 non-null    int64
dtypes: float64(1), int64(25), object(3)
memory usage: 113.2+ KB

****** Duplicated records: ******

****** Columns correlation: ******

****** Total unique values by column: ******

Number of unique values for column id:  499 | Percent = 100.0%
Number of unique values for column year_birth:  57 | Percent = 11.42%
Number of unique values for column education:  5 | Percent = 1.0%
Number of unique values for column marital_status:  6 | Percent = 1.2%
Number of unique values for column income:  466 | Percent = 93.39%
Number of unique values for column kidhome:  3 | Percent = 0.6%
Number of unique values for column teenhome:  3 | Percent = 0.6%
Number of unique values for column dt_customer:  344 | Percent = 68.94%
Number of unique values for column recency:  100 | Percent = 20.04%
Number of unique values for column mnt_wines:  300 | Percent = 60.12%
Number of unique values for column mnt_fruits:  99 | Percent = 19.84%
Number of unique values for column mnt_meat_products:  251 | Percent = 50.3%
Number of unique values for column mnt_fish_products:  113 | Percent = 22.65%
Number of unique values for column mnt_sweet_products:  111 | Percent = 22.24%
Number of unique values for column mnt_gold_prods:  132 | Percent = 26.45%
Number of unique values for column num_deals_purchases:  14 | Percent = 2.81%
Number of unique values for column num_web_purchases:  13 | Percent = 2.61%
Number of unique values for column num_catalog_purchases:  14 | Percent = 2.81%
Number of unique values for column num_store_purchases:  13 | Percent = 2.61%
Number of unique values for column num_web_visits_month:  12 | Percent = 2.4%
Number of unique values for column accepted_cmp3:  2 | Percent = 0.4%
Number of unique values for column accepted_cmp4:  2 | Percent = 0.4%
Number of unique values for column accepted_cmp5:  2 | Percent = 0.4%
Number of unique values for column accepted_cmp1:  2 | Percent = 0.4%
Number of unique values for column accepted_cmp2:  2 | Percent = 0.4%
Number of unique values for column complain:  2 | Percent = 0.4%
Number of unique values for column z_costcontact:  1 | Percent = 0.2%
Number of unique values for column z_revenue:  1 | Percent = 0.2%
Number of unique values for column response:  2 | Percent = 0.4%

****** Count for unique values by column(v2): ******

5524     1
10350    1
11191    1
10172    1
1150     1
        ..
9260     1
2795     1
2730     1
9970     1
716      1
Name: id, Length: 499, dtype: int64


1976    25
1970    20
1969    18
1975    17
1971    16
1973    15
1978    15
1974    15
1972    15
1965    15
1966    14
1952    14
1988    13
1964    13
1968    12
1958    11
1989    11
1957    11
1984    11
1967    11
1960    10
1980    10
1963    10
1956    10
1959    10
1954    10
1985     9
1977     9
1983     9
1982     9
1986     9
1951     9
1953     9
1955     8
1949     8
1979     8
1961     7
1946     7
1962     7
1981     7
1948     5
1987     4
1991     3
1950     3
1943     3
1945     2
1992     2
1996     1
1900     1
1893     1
1990     1
1947     1
1899     1
1993     1
1994     1
1941     1
1944     1
Name: year_birth, dtype: int64


Graduation    257
PhD           114
Master         81
2n Cycle       40
Basic           7
Name: education, dtype: int64


Married     199
Together    120
Single      105
Divorced     56
Widow        16
Alone         3
Name: marital_status, dtype: int64


7500.0     5
37760.0    3
35688.0    2
30096.0    2
38620.0    2
          ..
50447.0    1
28718.0    1
33456.0    1
26091.0    1
67911.0    1
Name: income, Length: 466, dtype: int64


0    272
1    210
2     17
Name: kidhome, dtype: int64


0    281
1    202
2     16
Name: teenhome, dtype: int64


14-11-2013    5
02-01-2013    5
12-05-2014    5
22-05-2014    4
31-08-2012    4
             ..
29-06-2014    1
14-10-2013    1
02-11-2012    1
17-07-2013    1
27-11-2013    1
Name: dt_customer, Length: 344, dtype: int64


4     10
46     9
11     9
18     9
38     9
      ..
97     2
73     2
15     2
61     2
7      2
Name: recency, Length: 100, dtype: int64


3      11
1      11
5      10
10      9
2       9
       ..
410     1
239     1
171     1
245     1
529     1
Name: mnt_wines, Length: 300, dtype: int64


0      106
1       40
3       28
4       25
2       24
      ...
71       1
30       1
189      1
29       1
13       1
Name: mnt_fruits, Length: 99, dtype: int64


6      19
7      17
5      15
14     11
10     10
       ..
107     1
813     1
553     1
337     1
356     1
Name: mnt_meat_products, Length: 251, dtype: int64


0      83
2      43
3      35
4      22
6      18
       ..
218     1
121     1
133     1
123     1
63      1
Name: mnt_fish_products, Length: 113, dtype: int64


0      95
1      44
2      27
3      23
4      18
       ..
149     1
73      1
92      1
130     1
75      1
Name: mnt_sweet_products, Length: 111, dtype: int64


1      20
3      20
4      20
5      18
12     15
       ..
146     1
162     1
131     1
74      1
134     1
Name: mnt_gold_prods, Length: 132, dtype: int64


1     220
2     111
3      67
4      44
5      20
7      10
6       9
0       7
9       4
15      3
12      1
8       1
10      1
13      1
Name: num_deals_purchases, dtype: int64


2     95
1     84
3     77
4     56
5     45
6     42
7     30
8     25
9     15
11    11
0     11
10     7
27     1
Name: num_web_purchases, dtype: int64


0     137
1     114
2      52
3      42
4      39
5      31
6      28
7      19
10     13
9      13
8       7
11      2
28      1
22      1
Name: num_catalog_purchases, dtype: int64


3     116
4      66
2      54
5      44
6      41
8      34
10     30
9      30
12     25
11     21
7      19
13     15
0       4
Name: num_store_purchases, dtype: int64


7     93
8     83
6     75
5     63
3     54
4     40
1     37
2     36
9     15
20     1
10     1
0      1
Name: num_web_visits_month, dtype: int64


0    470
1     29
Name: accepted_cmp3, dtype: int64


0    455
1     44
Name: accepted_cmp4, dtype: int64


0    470
1     29
Name: accepted_cmp5, dtype: int64


0    470
1     29
Name: accepted_cmp1, dtype: int64


0    494
1      5
Name: accepted_cmp2, dtype: int64


0    493
1      6
Name: complain, dtype: int64


3    499
Name: z_costcontact, dtype: int64


11    499
Name: z_revenue, dtype: int64


0    431
1     68
Name: response, dtype: int64

In [3]:
# MOdels
param_grid_1 = [{"model":[LinearRegression()],
                "model__fit_intercept":[True,False],
                "model__copy_X":[True]},
                {"model":[RandomForestRegressor()],
                "model__max_depth":[1,2,3,4,5,6],
                "model__n_estimators":[100,200,300,400,500],
                "model__min_samples_split":[2,3,4,5,6],
                "model__max_samples":np.linspace(0.01,1,10),
                "model__bootstrap":[True]},
                {"model":[KNeighborsRegressor()],
                "model__n_neighbors":[1,2,3,4,5,6],
                "model__algorithm":["auto","ball_tree","kd_tree","brute"],
                "model__leaf_size":[30,60,90]},
                {"model":[DecisionTreeRegressor()],
                "model__criterion":["squared_error","absolute_error"],
                "model__splitter":["best","random"],
                "model__max_depth":[1,2,3,4,5,6]}]
    #
param_grid_2 = [{"model":[RandomForestRegressor()],
                 "model__max_depth":[1,2,3]},
                {"model":[KNeighborsRegressor()],
                 "model__n_neighbors":[1,2,3],
                 "model__algorithm":["auto","ball_tree","kd_tree","brute"]},
                {"model":[DecisionTreeRegressor()],
                 "model__criterion":["squared_error","absolute_error"],
                 "model__splitter":["best","random"]}]

In [4]:
model_variables = [
    "mnt_wines",
    "client_age",
    "total_children",
    "income",
    "num_web_visits_month",
    "mnt_meat_products",
    "mnt_fruits",
    "num_store_purchases",
    "num_catalog_purchases",
    "num_deals_purchases"
]

In [5]:
# Evaluar multiples modelos
multi_mod(df,param_grid_2,model_variables)

 (19, 19)

Best score:  -179.2568315154328

 {'model': RandomForestRegressor(max_depth=3), 'model__max_depth': 3}

 Pipeline(steps=[('Scaler', StandardScaler()),
                ('model', RandomForestRegressor(max_depth=3))])